:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.achivement-plate {
    min-width: 32dvw;

    background-color: white;
    border-radius: 24px;

    padding: 24px;
}