<label class="game-title">Master Chef : Culinary Quiz</label>
<div class="menu-buttons">
    <button
        class="button menu-button"
        (mousedown)="buttonSound()"
        [routerLink]="['game']">
        Start
    </button>
    <button
        class="button menu-button"
        (mousedown)="buttonSound()"
        (click)="onAchivementsClick()">
        Achivements
    </button>
    <button
        class="button menu-button"
        (mousedown)="buttonSound()"
        [routerLink]="['settings']">
        Settings
    </button>
    <button
        class="button menu-button"
        (mousedown)="buttonSound()"
        [routerLink]="'/login'"
        (click)="onLogoutClick()">
        Logout
    </button>
</div>
