<label class="game-title">Master Chef : Culinary Quiz</label>
<div class="menu-buttons">
    <button
        class="button menu-button"
        [routerLink]="['game']"
        (mousedown)="buttonSound()">
        Start
    </button>
    <button
        class="button menu-button"
        (mousedown)="buttonSound()"
        (click)="onAchivementsClick()">
        Achivements
    </button>
    <button
        class="button menu-button"
        [routerLink]="['settings']"
        (mousedown)="buttonSound()">
        Settings
    </button>
    <button
        class="button menu-button"
        [routerLink]="'/login'"
        (mousedown)="buttonSound()"
        (click)="onLogoutClick()">
        Logout
    </button>
</div>
