.top-bar {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px;

    .top-bar-button {
        position: absolute;
        left: 0;

        font-size: 2em;

        padding: 8px 12px;
    }
    .top-bar-label {
        font-family: var(--main-font-family);
        font-size: 3em;
        line-height: 1em;
    }
}
