<div [class]="plateClass">
    <h3>{{ question?.question }}</h3>
    <div class="images">
        @for (item of question?.images; track $index) {
        <img [src]="item.image" [alt]="item.name" />
        }
    </div>
    <tui-tiles
        class="answers"
        [debounce]="100"
        [(order)]="order"
        (orderChange)="onOrderChange()">
        @for (item of question?.answers; track $index) {
        <tui-tile class="draggable-plate" [style.order]="order.get($index)">
            @if (!flag) {
            <div tuiTileHandle [class]="classes[$index]">
                {{ item.answer }}
            </div>
            }@else {
            <div [class]="classes[$index]">
                {{ item.answer }}
            </div>
            }
        </tui-tile>
        }
    </tui-tiles>
</div>
