:host{
    flex: 1;
}
.draggable-plate{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid black;
    border-radius: 12px;
    
    padding: 12px;
    
    &.correct{
        border: 2px solid var(--plate-correct-color);
    }
    &.incorrect{
        border: 2px solid var(--plate-incorrect-color);
    }
}