<!-- <app-loader *ngIf="isLoading"></app-loader> -->
<div class="background">
    <div>
        <tui-loader
            [showLoader]="isLoading"
            size="xl"
            [inheritColor]="true"
            class="" />
    </div>
    <form
        [formGroup]="loginForm"
        *ngIf="!isLoading"
        (ngSubmit)="onFormSubmit()"
        class="login-form">
        <label class="login-form-label">Login</label>
        <label class="error-message">{{ errorMessage }}</label>

        <tui-input formControlName="username" class="login-form-input">
            Type Username
            <input tuiTextfield />
        </tui-input>
        <tui-input-password formControlName="password" class="login-form-input">
            Type Password
            <input tuiTextfield/>
        </tui-input-password>
        <button class="login-button" type="submit">Log in</button>
    </form>
</div>
