/* You can add global styles to this file, and also import other style files */
:root{
    --main-font-color: #502a17;
    --main-background-color-1: #e7b990;
    --main-background-color-2: #efcead;
    --main-menu-button-color: #b17c51;
    --main-menu-button-active-color: #d89158;

}