:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.game-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    margin: 4% 0;

    overflow-y: auto;

}
.questions{
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 16px;
    padding-top: 0;
}
.submit-button {
    width: 40%;

    border: none;
    border-radius: var(--tui-radius-l);
    background-color: var(--main-menu-button-color);

    color: var(--main-background-color-1);
    font-family: var(--main-font-family);

    font-size: 2em;

    box-shadow: 8px 8px 16px 0px rgba(34, 60, 80, 0.3);
    transition-duration: 0.2s;

    padding: var(--tui-padding-l);
    margin: auto;

    &:hover {
        transform: scale(0.96);
        box-shadow: 4px 4px 16px 0px rgba(34, 60, 80, 0.3);
    }
    &:active {
        color: var(--main-font-color);
        background-color: var(--main-menu-button-active-color);
    }
}
.dialog-header{
    height: 6em;
    img{
        width: 100%;
    }
}
