:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.game-field {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 2%;

    overflow-y: auto;
}
.questions {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 16px;
    padding-top: 0;
}
.submit-button {
    width: 40%;

    font-size: 2em;

    margin: auto;
    margin-bottom: 24px;
}
.dialog-header {
    height: 6em;
    img {
        width: 100%;
    }
}
.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .dialog-button{
            font-size: 1.4em;
        }
    }
}
.final-dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    // height: 8rem;
    width: 100%;

    background-color: lightgrey;

    padding: 8px 0;
    img {
        height: 80%;
        max-height: 96px;
    }
}
.final-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .dialog-button{
            font-size: 1.4em;
        }
    }
}
