<!-- <p>game-page works!</p> -->

<form class="game-field" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-top-bar
        buttonText="Menu"
        [buttonAction]="onDialogMenuButtonClick.bind(this)"
        [label]="'Round ' + (roundIndex + 1)"></app-top-bar>
    <tui-scrollbar>
        <div class="questions">
            @for (item of roundQuestions; track $index) { @if (item.type ===
            'simple') {
            <app-simple-question-plate
                [changingValue]="changingValue"
                [question]="item"
                [control]="
                    form.controls['questions'].controls[$index]
                "></app-simple-question-plate>
            } @if (item.type === 'multiple') {
            <app-multiple-choice-question-plate
                [changingValue]="changingValue"
                [question]="item"
                [control]="
                    form.controls['questions'].controls[$index]
                "></app-multiple-choice-question-plate>
            } @if (item.type === 'input') {
            <app-input-question-plate
                [changingValue]="changingValue"
                [question]="item"
                [control]="
                    form.controls['questions'].controls[$index]
                "></app-input-question-plate>
            } @if (item.type === 'drag') {
            <app-drag-and-drop-question-plate
                [changingValue]="changingValue"
                [question]="item"
                [control]="
                    form.controls['questions'].controls[$index]
                "></app-drag-and-drop-question-plate>
            } }
        </div>
    </tui-scrollbar>
    <button
        type="submit"
        class="button submit-button"
        (mousedown)="onButtonClick()">
        Check
    </button>
</form>

<ng-template #header>
    <div class="dialog-header">
        <img alt="Cool" [src]="result.image" />
    </div>
</ng-template>
<ng-template #content let-observer>
    <div class="dialog-content">
        {{ result.message }}
        <div class="buttons">
            <button
                type="button"
                (click)="onDialogMenuButtonClick(observer)"
                class="button dialog-button"
                (mousedown)="onButtonClick()">
                <tui-svg src="tuiIconMenuLarge"></tui-svg>
                Main menu
            </button>
            <button
                type="button"
                (click)="onDialogRestartButtonClick(observer)"
                class="button dialog-button"
                (mousedown)="onButtonClick()">
                <tui-svg src="tuiIconRefreshCcwLarge"></tui-svg>
                Restart
            </button>
            <button
                *ngIf="result.rightAnswers"
                type="button"
                (click)="onDialogNextButtonClick(observer)"
                class="button dialog-button"
                (mousedown)="onButtonClick()">
                <tui-svg src="tuiIconArrowRightLarge"></tui-svg>
                Next
            </button>
        </div>
    </div>
</ng-template>
<ng-template #finalHeader>
    <div class="final-dialog-header">
        <img [src]="gameResult.rank?.sign" alt="Rank sign">
        <label>{{gameResult.rank?.name}}</label>
    </div>
</ng-template>
<ng-template #finalContent let-observer>
    <div class="final-dialog-content">
        {{ result.message }}
        <div class="buttons">
            <button
                type="button"
                (click)="onDialogMenuButtonClick(observer)"
                class="button dialog-button"
                (mousedown)="onButtonClick()">
                <tui-svg src="tuiIconMenuLarge"></tui-svg>
                Main menu
            </button>
        </div>
    </div>
</ng-template>
